<div class="modal fade" id="assinaturaModal" tabindex="-1" aria-labelledby="assinaturaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formAssinatura" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}

                <input type="hidden" name="signature_type" id="signature_type" value="draw">

                <div class="modal-header">
                    <h5 class="modal-title" id="assinaturaModalLabel">Assinatura de Recebimento</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Eu, {{ ficha.funcionario.nome_completo }}, confirmo o recebimento do EPI descrito.</p>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="draw-tab" data-bs-toggle="tab" data-bs-target="#draw-pane" type="button" role="tab">Desenhar Assinatura</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="upload-tab" data-bs-toggle="tab" data-bs-target="#upload-pane" type="button" role="tab">Anexar Imagem</button>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="draw-pane" role="tabpanel">
                            <div class="wrapper-assinatura border rounded mt-2">
                                <canvas id="signature-pad" class="signature-pad"></canvas>
                            </div>
                            <input type="hidden" name="assinatura_base64" id="assinatura_base64">
                        </div>
                        <div class="tab-pane fade" id="upload-pane" role="tabpanel">
                             <div class="mt-3">
                                <label for="assinatura_imagem_upload" class="form-label">Selecione um arquivo de imagem:</label>
                                <input class="form-control" type="file" id="assinatura_imagem_upload" name="assinatura_imagem" accept="image/png, image/jpeg">
                             </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="clear-signature">Limpar Desenho</button>
                    <button type="submit" class="btn btn-primary" id="save-signature">Salvar Assinatura</button>
                </div>
            </form>
        </div>
    </div>
</div>

