{% extends "base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
    
    <div class="subnav-atas mb-4 p-3 bg-body-tertiary rounded-3 border sticky-top" style="top: 60px; z-index: 1020;">
        <div class="container-fluid">
            <ul class="nav nav">

                <li class="nav-item">
                    <a class="nav-link {% if 'dashboard' in request.resolver_match.view_name %}active{% endif %}" href="{% url 'departamento_pessoal:painel_dp' %}">
                       <i class="bi bi-speedometer2 me-1"></i> Painel DP
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'departamento' in request.resolver_match.view_name %}active{% endif %}" href="{% url 'departamento_pessoal:lista_departamento' %}">
                       <i class="bi bi-diagram-3 me-1"></i> Departamentos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if 'funcionario' in request.resolver_match.view_name %}active{% endif %}" href="{% url 'departamento_pessoal:lista_funcionarios' %}">
                       <i class="bi bi-people me-1"></i> Funcionários
                    </a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link {% if 'cargo' in request.resolver_match.view_name %}active{% endif %}" href="{% url 'departamento_pessoal:lista_cargo' %}">
                        <i class="bi bi-person-badge kpi-card-icon"></i> Cargos
                    </a>
                </li>
                    <li class="nav-item">
                    <a class="nav-link {% if 'documento' in request.resolver_match.view_name %}active{% endif %}" href="{% url 'departamento_pessoal:lista_documentos' %}">
                        <i class="bi bi-briefcase me-1"></i> Documentos
                    </a>
                </li>
                
            </ul>
        </div>
    </div>

    <main class="container-fluid py-4">
        {% block dp_content %}{% endblock %}
    </main>
{% endblock %}


