{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Funcionários</title>
    <link rel="stylesheet" href="{% static 'cssglobal/styles.css' %}">  

</head>
<body>
    <div class="container">
        <h1">Lista de Funcionários</h1>
        <a href="{% url 'cadastrar_funcionario' %}" class="btn-funcionario">Cadastrar Funcionário</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                <tr>
                    <td>{{ funcionario.nome }}</td>
                    <td>{{ funcionario.telefone }}</td>
                    <td>{{ funcionario.email }}</td>
                    <td>
                        <a href="{% url 'detalhes_funcionario' funcionario.id %}" class="btn-info">Detalhes</a>
                        <a href="{% url 'excluir_funcionario' funcionario.id %}" class="btn-excluir">Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>