{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gerenciando Tarefas{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'csshome/styles.css' %}">
</head>
<body>
   
    <div class="logo">
       <img src="/midia/imagens/logo.png">
      <!-- <img src="{% static 'imagens/logo.png' %}" class="icone">--> <!--Imagem no Django em produção--> 
        
    </div>
    <div class="header">
        <header>
            <nav>
                <ul>
                    
                    <li><a href="{% url 'usuario:login' %}">Usuário</a></li>
                    <li><a href="{% url 'cliente' %}">Cliente</a></li>
                    <li><a href="{% url 'seguranca_trabalho:seguranca_trabalho' %}">Segurança do Trabalho</a></li>
                    <li><a href="{% url 'departamento_pessoal' %}">Departamento Pessoal</a></li>
                    <li><a href="{% url 'tarefas:tarefas' %}">Tarefas</a></li>
                    <li><a href="{% url 'profile' %}" class="btn_profile">Menu</a></li>

                </ul>
            </nav>  
        </header>

    </div>

        <img src="/midia/imagens/painel1.png" class="imagempainel">
       <!--<img src="{% static 'imagens/painel1.png' %}" class="imagempainel">--> <!--Imagem no Django em produção-->

    <div class="rodape">
        <footer>
            <p>&copy; 2025 Gerenciando Tarefas. Todos os direitos reservados. Cetest Minas</p>
        </footer>
    </div>

</body>
</html>

