
{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Cadastro de Cliente</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'csscliente/form_styles.css' %}">
</head>
<body>
    <div class="container1">
        <h1>Cadastro de Clientes</h1>
        <div class="painel">
            <ul>
                <a href="{% url 'cliente' %}" class="btn-cliente">Cliente</a>
                <a href="{% url 'home' %}" class="btn-home">Home</a>
            </ul>
        </div>
    </div>
    <div class="container">
        <form method="post" action="{% url 'salvar_cliente' %}">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Renderiza o formulário -->
            <button type="submit">Salvar</button>
        </form>
    </div>
</body>
</html>