{% load static %}

<!DOCTYPE html>
<html>
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Cliente{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'csscliente/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>CLIENTE</h2>
        {% if user.is_authenticated %}
        <p>Olá, {{ user.username }}!</p>
             
        <div class="painel">
            
         <!-- Botão "Voltar para Home" -->
            <a href="{% url 'home' %}" class="btn-home">Home</a>
            <a href="{% url 'usuario:logout' %}" class="btn_logout">Sair</a>
            <a href="{% url 'cadastro_cliente' %}" class="btn_cadastro">Formulario</a>
            {% else %}
            <a href="{% url 'home' %}" class="btn-home">Home</a>
            {% endif %}
        </div>
        <div class="painel1">
            <h2>Pesquisa cliente</h2>
        </div>                       
        
    </div>
</body> 
</html>