
{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Editar Cartão{% else %}Criar Novo Cartão{% endif %}{% endblock %}

{% block content %}
<div class="container-box">
    {% partial "templates/partials/messages.html" %}

    <h1 class="h2 mb-4">{% if object %}Editar Cartão de Bloqueio{% else %}Criar Novo Cartão de Bloqueio{% endif %}</h1>
    <div class="card shadow-sm">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="mt-4 d-flex justify-content-end">
                    <a href="{% url 'gestao_riscos:cartao_tag_list' %}" class="btn btn-secondary me-2">Cancelar</a>
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle me-1"></i> Salvar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
