{# templates/logradouro/base_logradouro.html #}
{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
{# Adiciona um CSS específico para esta secção, se necessário #}
<link rel="stylesheet" href="{% static 'csslogradouro/styles.css' %}">
{% endblock %}

{% block content %}
<div class="container py-4">
    {% block logradouro_content %}
    {# O conteúdo específico de cada página (lista, formulário, etc.) virá aqui #}
    {% endblock logradouro_content %}
</div>
{% endblock content %}