/* Estilos gerais */
body {
    background-color: #f8f9fa;
}

/* Cards */
.card {
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
}

.card-header {
    padding: 1.25rem 1.5rem;
}

/* Tabelas */
.table {
    margin-bottom: 0;
}

.table thead th {
    vertical-align: middle;
}

/* Formulários */
.form-control.is-invalid, .form-select.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.invalid-feedback {
    display: block;
    color: #dc3545;
    margin-top: 0.25rem;
}

/* Select2 personalizado */
.select2-container--default .select2-selection--single {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(1.5em + 0.75rem + 2px);
}

/* Responsividade */
@media (max-width: 768px) {
    .card-body {
        padding: 1rem;
    }
    
    .table-responsive {
        margin-bottom: 1rem;
    }
}

/* botão exportação*/

.btn-export {
    background-color: #1d6f42;
    border-color: #1d6f42;
}

.btn-export:hover {
    background-color: #165834;
    border-color: #14512f;
}

.fa-file-excel {
    margin-right: 5px;
}