
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}


/* Estilos para o painel de cadastro */
.painel2 {
    background-color: #ecf0f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-weight: bold;
    color: #2c3e50;
}

.form-group input,
.form-group select {
    padding: 10px;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #3498db;
    outline: none;
}

/* Estilos para o botão de salvar */
.btn-pesquisar {
    background-color: #27ae60;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-pesquisar:hover {
    background-color: #219653;
}

/* Estilos para mensagens de ajuda */
.form-text {
    font-size: 12px;
    color: #7f8c8d;
}

/* Estilos para o checkbox */
.form-check-label {
    margin-left: 10px;
    font-weight: normal;
}

/* Estilos para o botão de logout */
/*Painel menu*/
.btn-home:hover, .btn_logout:hover, .btn_cadastro:hover, .btn_profile, .btn_tarefa:hover {
    background-color: #0056b3;
}

.btn_logout {
    background-color: #626262;
}

.btn_logout:hover {
    background-color: #373737;
}

.btn_cadastro {
    background-color: #007bff;
}

.btn_cadastro:hover {
    background-color: #0056b3;
}

.btn_profile {
    background-color: #007bff;
}

.btn_profile:hover {
    background-color: #0056b3;
}

.btn_tarefa:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .btn-home, .btn_logout, .btn_cadastro, .btn_profile, .btn_tarefa {
        display: block;
        width: 100%;
        margin: 5px 0;
    }

    .painel, .painel1 {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 5px;
    }

    .btn-home, .btn_logout, .btn_cadastro, .btn_profile, .btn_tarefa {
        padding: 6px 12px;
    }
}
