
body, h1, p, form, button, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;

}

/* Estilo do container principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #caf3ff;
    font-size: 10px;
}

/* Estilo dos painéis */
.panel {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 1px;
    box-shadow: 0 4px 6px rgba(108, 108, 108, 0.1);
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* Estilo do título */
.panel h1 {
    font-size: 13px;
    color: #000000;
    margin-bottom: 20px;
}

/* Estilo do formulário */
.register-form {
    display: flex;
    flex-direction: column;
    
}

.register-form p {
    margin-bottom: 8px;
}

.register-form label {
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
}

.register-form input {
    width: 90%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
}

/* Estilo do botão de registro */
.register-button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #0056b3;
}

/* Estilo do link de login */
.login-link {
    font-size: 14px;
    color: #555555;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}