
{% extends 'usuario/base_usuario.html' %}

{% block title %}Lista de Usuários{% endblock %}

{% block usuario_content %}
    
<div class="card shadow-sm">
    <div class="card-header">
        <h2 class="h4 mb-0">Usuários do Sistema</h2>
    </div>
    <div class="card-body">
        <form method="GET" action="{% url 'usuario:lista_usuarios' %}" class="mb-4">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar usuários..." aria-label="Buscar usuários..." value="{{ request.GET.q }}">
                <button class="btn btn-primary" type="submit">Buscar</button>
            </div>
        </form>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome Completo</th>
                    <th>Email</th>
                    <th>Usuário</th>
                    <th>Filial Ativa</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td>{{ usuario.get_full_name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>{{ usuario.username }}</td>
                    <td>{{ usuario.filial_ativa|default:"N/A" }}</td>
                    <td>
                        {% if usuario.is_active %}
                            <span class="badge bg-success">Ativo</span>
                        {% else %}
                            <span class="badge bg-danger">Inativo</span>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url 'usuario:usuario_editar' usuario.pk %}" class="btn btn-sm btn-outline-primary">Editar</a>
                        <a href="{% url 'usuario:gerenciar_grupos_usuario' usuario.pk %}" class="btn btn-sm btn-outline-secondary">Grupos</a>
                        <a href="{% url 'usuario:alterar_senha' usuario.pk %}" class="btn btn-sm btn-outline-warning">Definir Senha</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="5" class="text-center">Nenhum usuário encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
            {% include 'partials/pagination.html' %}
    </div>
</div>
{% endblock %}