{% load static %}


<!DOCTYPE html>

<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <!-- Link para o arquivo CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'cssprofile/styles.css' %}"> 
</head>
<body class="container">
    <div class="painel">
        <div class="painel1">
            <p class="mensagem">Bem-vindo, {{ user.username }}!</p>    
        </div>
        <div class="painel2">
            <div class="logout">
                <a href="{% url 'usuario:logout' %}" class="link">Logout</a>
            </div>
            <div class="home">
                <a href="{% url 'home' %}" class="link">Home</a>
            </div>
        </div>
        <div class="card">
            <div class="card card1">Tarefas
                
                <div class="card1.1">
                    <a href="{% url 'tarefas' %}" class="link-home">link para tarefa</a>
                </div>
                <div class="card1.2">

                </div>
                <div class="card1.3">

                </div>
                <div class="card1.4">

                </div>
                            
            </div>
            <div class="card card2">cliente
                
                <div class="card2.1">
                    <a href="{% url 'cliente' %}" class="link-home">link para clientes</a>
                </div>
                <div class="card2.2">

                </div>
                <div class="card2.3">

                </div>
                <div class="card2.4">

                </div>
                
            </div>
            <div class="card card3">Departamento Pessoal
                
                <div class="card3.1">
                    <a href="{% url 'departamento_pessoal' %}" class="link-home">link para DP</a>
                </div>
                <div class="card3.2">

                </div>
                <div class="card3.3">

                </div>
                <div class="card3.4">

                </div>
                              
            
            </div>
            <div class="card card4">Segurança do Trabalho
                
                <div class="card4.1">
                    <a href="{% url 'seguranca_trabalho' %}" class="link-home">link para TST</a>
                </div>
                <div class="card4.2">

                </div>
                <div class="card4.3">

                </div>
                <div class="card4.4">

                </div>
                
            </div>
            <div class="card card5">Cadastro
                <div class="card5.1">
                    <ul><a href="{% url 'cadastro_cliente' %}" class="link-cadastro_cliente">Cadastro de Cliente</a></ul>
                </div>
                <div class="card5.2"> 
                    <ul><a href="{% url 'cadastro' %}" class="link-cadastro">Cadastro de Endereço</a></ul>
                </div>
                <div class="card5.3">

                </div>
                <div class="card5.4">

                </div>    
            </div>
        </div>
    </div>
</body>
</html>