{% extends "base.html" %}
{% load static %}

{# Adiciona "SST" ao título da página, mantendo o título original do site #}
{% block title %}SST - {{ block.super }}{% endblock %}

{# Preenche o bloco de conteúdo principal do base.html #}
{% block content %}
<div class="container-fluid mt-4">

{% include "partials/_messages.html" %} 
    
    <div class="subnav-automovel mb-3 p-3 bg-body-tertiary rounded-2 border sticky-top" style="top: 60px; z-index: 1020;">
        <ul class="nav nav">
            <li class="nav-item">
                <a href="{% url 'seguranca_trabalho:dashboard' %}" class="nav-link {% if 'dashboard' in request.resolver_match.view_name %}active{% endif %}">
                    <i class="bi bi-speedometer2 me-1"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'seguranca_trabalho:ficha_list' %}" class="nav-link {% if 'ficha_' in request.resolver_match.view_name %}active{% endif %}">
                    <i class="bi bi-file-person me-1"></i> Fichas de EPI
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'seguranca_trabalho:equipamento_list' %}" class="nav-link {% if 'equipamento_' in request.resolver_match.view_name %}active{% endif %}">
                    <i class="bi bi-hdd-stack me-1"></i> Equipamentos
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'seguranca_trabalho:controle_epi_por_funcao' %}" class="nav-link {% if 'controle_' in request.resolver_match.view_name %}active{% endif %}">
                    <i class="bi bi-speedometer2 me-1"></i> Controle de EPIs por Função
                </a>
            </li>               
            <li class="nav-item">
                <a href="{% url 'gestao_riscos:lista_riscos' %}" class="nav-link {% if 'gestao_' in request.resolver_match.view_name %}active{% endif %}">
                    <i class="bi bi-hdd-stack me-1"></i> Gestão de Riscos
                </a>
            </li>

        </ul>
    </div>

    {% block sst_content %}{% endblock sst_content %}

</div>
{% endblock content %}
